img {
  width: 200px; /* Ancho en píxeles */
  height: 150px; /* Altura en píxeles */
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
  -webkit-contextMenu: none;
  contextMenu: none;
}
